<template>
  <div>
    <div>
      <item-icon :name="item.name" />
      <h3 style="line-height: 30px; height: 30px; vertical-align: top;" class="d-inline-block"> {{ item.name }}</h3>
    </div>
    <template v-if="item.food">
      food subtracted: {{item.food}}
    </template>
    <div v-if="item.items">
      <strong>Items needed:</strong><br>
      <IngredientsList :ingredients="item.items" />
    </div>
    <div v-if="item.skills">
      <strong>Recommended Skills:</strong><br>
      <div v-for="(level, skill) in item.skills" :key="skill">
        {{level}} {{skill}}
      </div>
    </div>
    <div v-if="item.nexuses">
      <strong>Required Nexuses:</strong><br>
      <div v-for="(level, nexus) in item.skills" :key="nexus">
        {{level}} {{nexus}}
      </div>
    </div>
    <div v-if="item.xp">
      <strong>Base experience given:</strong><br>
      <div v-for="(xp, skill) in item.xp" :key="skill">
        {{xp}} {{skill}} exp
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Item } from '~/src/types';
import IngredientsList from '~/components/IngredientsList.vue';
import ItemIcon from '~/components/ItemIcon.vue';

interface Data {
  item: Item,
}

export default Vue.extend<Data, unknown, unknown, unknown>({
  components: {
    ItemIcon,
    IngredientsList,
  },
  asyncData(ctx): Promise<object | void> | object | void {
    const item = ctx.store.getters['items/getItemBySlug'](ctx.route.params.id);
    if (!item) {
      return ctx.redirect('/');
    }
    return {
      item,
    };
  },
  data: () => ({
    item: {} as Item,
  }),
});
</script>
