<template>
  <div>
    <h3>{{ skill }}</h3>
    <ul style="padding: 0;">
      <li v-for="item in items" :key="item.slug" class="item-row">
        <ItemIcon :name="item.name" />
        <nuxt-link class="link" :to="`/item/${item.slug}`">{{ item.name }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Item, Skill } from '~/src/types';
import ItemIcon from '~/components/ItemIcon.vue';

interface Data {
  skill: undefined | Skill,
}
interface Computed {
  items: Item[];
}

export default Vue.extend<Data, unknown, Computed, unknown>({
  components: {
    ItemIcon,
  },
  asyncData(ctx): Promise<object | void> | object | void {
    const skill = ctx.route.params.id;
    if (!Object.values(Skill).includes(skill as Skill)) {
      return ctx.redirect('/');
    }
    return {
      skill,
    };
  },
  data: () => ({
    skill: undefined,
  }),
  computed: {
    items() {
      return this.$store.getters['items/getItemsBySkill'](this.skill) as Item[];
    },
  },
});
</script>

<style scoped>
.item-row {
  line-height: 0;
  margin-bottom: 5px;
  list-style: none;
}
.link {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
}
</style>
