<template>
  <div>
    <div v-for="(amount, name) in ingredients" :key="name">
      <IngredientRow :name="name" :amount="amount" />
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

interface Props {
  ingredients: Record<string, number>;
}

export default Vue.extend<unknown, unknown, unknown, Props>({
  props: {
    ingredients: {
      type: Object as () => Record<string, number>,
      required: true,
    },
  },
  beforeCreate() {
    // https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    if (!this.$options.components) return;
    this.$options.components.IngredientRow = require('./IngredientRow.vue').default;
  },
});
</script>
