<template>
  <div class="ingredient-row">
    <div
      v-if="item && item.items"
      class="expand-wrapper"
      style="cursor: pointer; user-select: none;"
      @click.prevent="expanded = !expanded;"
    >
      [<span style="color: #1976d2">{{expanded ? '-' : '+'}}</span>]
    </div>
    <div v-else class="expand-wrapper"></div>
    <ItemIcon :name="name" />
    <div class="name">
      {{amount}} {{name}}
    </div>
    <div v-if="expanded" style="margin-left: 35px;">
      <IngredientsList :ingredients="item.items" />
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import { Item } from '~/src/types';
import ItemIcon from '~/components/ItemIcon.vue';

interface Computed {
  item: Item | undefined;
}

interface Props {
  name: string;
  amount: number;
}

export default Vue.extend<unknown, unknown, Computed, Props>({
  components: {
    ItemIcon,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    amount: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    expanded: false,
  }),
  computed: {
    item() {
      return this.$store.getters['items/getItemByName'](this.name) as Item | undefined;
    },
  },
  beforeCreate() {
    // https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    if (!this.$options.components) return;
    this.$options.components.IngredientsList = require('./IngredientsList.vue').default;
  },
});
</script>

<style scoped>
.ingredient-row {
  line-height: 0;
  margin: 5px 0;
}
.expand-wrapper {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-family: monospace;
  vertical-align: top;
  line-height: 30px;
}
.name {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
}
</style>
