<template>
  <div class="item-icon" :class="className"></div>
</template>

<script lang="ts">
import Vue from 'vue';

interface Props {
  name: string;
}

export default Vue.extend<unknown, unknown, unknown, Props>({
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  computed: {
    className() {
      return this.name.toLowerCase().replace(/[ -/'&-]/g, '');
    },
  },
});
</script>

<style scoped>
.item-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  line-height: 0;
}
.adindicator {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -88px;}
.accuracymagicindicator {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -88px;}
.airessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -88px 0;}
.ale {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -59px -30px;}
.alembic {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -30px 0;}
.amber {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -118px -88px;}
.arcticchimsummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll 0 -30px;}
.armedorcsummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -88px -30px;}
.arrowbolthead {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll 0 -30px;}
.arrowboltheadmold {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -118px 0;}
.ashes {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll 0 -118px;}
.augmentedleatherarmor {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -59px -118px;}
.augmentedleatherpants {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -88px -118px;}
.bearfur {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -118px -88px;}
.bearsummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -30px 0;}
.beaverfur {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll 0 -118px;}
.bigbookofcrafting {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -59px -118px;}
.bigbookofmanufacturing {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -30px -118px;}
.bigbookoftailoring {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -88px -118px;}
.bindingstone {background: transparent url(~/assets/i/items14.jpg) no-repeat scroll 0 -88px;}
.blackbaggypants {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll 0 -118px;}
.blackbluestripedbaggypants {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -118px -88px;}
.blackbuccaneerhat {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -118px -118px;}
.blackcavalierhat {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -88px 0;}
.blackcavalierpeacockhat {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll 0 0;}
.blackdragoncuisses {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll 0 -30px;}
.blackdragongreave {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -30px -30px;}
.blackdragonhelm {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -88px 0;}
.blackdragonmail {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -118px 0;}
.blackdragonscale {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -90px -59px;}
.blackdye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -118px -118px;}
.blackfabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -30px -59px;}
.blackpantherfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll 0 0;}
.blackpurplestripedbaggypants {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -88px -88px;}
.blackredstripedbaggypants {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -30px -88px;}
.blackrobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -59px 0;}
.blackrobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -59px -30px;}
.blackrose {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -59px -30px;}
.blackscarf {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -88px -88px;}
.blacktricornhat {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll 0 -118px;}
.blacktunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -88px 0;}
.blacktunicblackshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -88px -59px;}
.blacktunicgreenshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll 0 -59px;}
.blacktunicpurpleshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -30px -59px;}
.blacktunicredshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -59px -59px;}
.blacktunicwhiteshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -118px -59px;}
.blackpowder {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll 0 -118px;}
.blankpaper {background: transparent url(~/assets/i/items14.jpg) no-repeat scroll -59px -30px;}
.blueberries {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -30px 0;}
.bluecavalierhat {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -59px 0;}
.bluedye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -59px -118px;}
.bluefabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -30px -88px;}
.bluelupine {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -118px -30px;}
.bluequartz {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -118px -59px;}
.bluerobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -30px 0;}
.bluerobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -30px -59px;}
.bluestarflower {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -30px 0;}
.bluetricornhat {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -59px -118px;}
.bluetunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll 0 -30px;}
.bluetunicwhiteshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -88px -30px;}
.bones {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -88px -59px;}
.bonespowder {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -30px -118px;}
.bronzebar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -118px 0;}
.bronzecuisses {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -88px -88px;}
.bronzegreave {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -118px -88px;}
.bronzehelm {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll 0 -88px;}
.bronzeplatemail {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -59px -88px;}
.bronzeshield {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -30px -88px;}
.bronzesword {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -88px -59px;}
.brownbaggypants {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -30px -118px;}
.brownbuccaneerhat {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -88px -118px;}
.brownfabric {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll 0 0;}
.brownrabbitfur {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -88px -118px;}
.brownrobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -118px 0;}
.brownrobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -118px -30px;}
.browntricornhat {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -30px -118px;}
.browntunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll 0 0;}
.browntunicblueshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll 0 -88px;}
.browntunicwhiteshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -118px -30px;}
.bucket {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -118px -118px;}
.cactus {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -118px -59px;}
.caltrop {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -30px -88px;}
.capeofnomorewarlock {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -59px 0;}
.carvingknife {background: transparent url(~/assets/i/items14.jpg) no-repeat scroll 0 -30px;}
.chrysanthemum {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -88px 0;}
.cinnabar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -118px -30px;}
.coal {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -30px -118px;}
.cockatricefeather {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -59px -59px;}
.copperbar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -30px 0;}
.copperore {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll 0 0;}
.cotton {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -88px 0;}
.creaturefood {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -118px -30px;}
.criticalsindicator {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -88px;}
.crownoflife {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -88px -118px;}
.crownofmana {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -118px -118px;}
.cutlass {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -30px 0;}
.daffodils {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -118px 0;}
.dandelion {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll 0 -30px;}
.deathessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -88px -30px;}
.deerantlers {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll 0 -118px;}
.deerfur {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -59px -88px;}
.diamond {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -59px -59px;}
.dragonblade {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll -118px 0;}
.dung {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -88px -118px;}
.dvariumbar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -30px -88px;}
.dvariumore {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll 0 -88px;}
.eaglewing {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -118px 0;}
.earthessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -59px 0;}
.emerald {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -59px -118px;}
.emeraldclaymore {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll 0 0;}
.emptyvial {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -118px -30px;}
.energyessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -30px -30px;}
.enhancedironcuisses {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -118px 0;}
.enhancedirongreave {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll 0 -30px;}
.enhancedironplatemail {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -88px 0;}
.enhancedsunmedallion {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll 0 -118px;}
.enhancedunicornmedallion {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -118px -88px;}
.enricheddeathessence {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -118px -59px;}
.enrichedfireessence {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll 0 -59px;}
.enrichedlifeessence {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -30px -88px;}
.enrichedmagicessence {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -118px -30px;}
.enrichedwateressence {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -30px -59px;}
.enrichmentstone {background: transparent url(~/assets/i/items14.jpg) no-repeat scroll -118px -59px;}
.falconfeather {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -59px -118px;}
.feranhorn {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -30px 0;}
.fireessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll 0 0;}
.firearrows {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -30px -118px;}
.firebolts {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll 0 0;}
.fluffysummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -59px -30px;}
.foxfur {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -88px 0;}
.foxscarf {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -88px -30px;}
.fruits {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -30px 0;}
.fryingpan {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll 0 0;}
.furboots {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -118px -118px;}
.furcloak {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll 0 -59px;}
.furhat {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -118px -30px;}
.furpants {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -88px -59px;}
.furtorso {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -59px -59px;}
.gatherermedallion {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -59px -118px;}
.gemsandingpaper {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll 0 -118px;}
.gemstonehammerchisel {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -118px -88px;}
.giantspidersummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -118px 0;}
.giantsummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -118px -30px;}
.goldbar {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -30px -88px;}
.goldmedallion {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -59px -88px;}
.goldore {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -118px -88px;}
.goldring {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -118px -118px;}
.grayfabric {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -30px 0;}
.grayrobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -88px 0;}
.grayrobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -88px -30px;}
.greencavalierpeacockhat {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -30px 0;}
.greendye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -30px -118px;}
.greenfabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll 0 -88px;}
.greenrobe {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -88px -118px;}
.greenrobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -88px -59px;}
.greentunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll 0 -59px;}
.gypsum {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -118px -59px;}
.halberd {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll -59px 0;}
.hammer {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -118px -30px;}
.harvestdegradeindicator {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -88px;}
.harvestermedallion {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -30px -118px;}
.hawkfeather {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -59px -59px;}
.healthessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -118px -30px;}
.heavenspawnmedallion {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll 0 -118px;}
.henbane {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -88px -30px;}
.highexplosivemine {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -59px -118px;}
.honeycomb {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -59px -118px;}
.hydrogeniumbar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -88px -30px;}
.hydrogeniumore {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -59px -30px;}
.icedragoncuisses {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -118px -30px;}
.icedragongreave {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll 0 -59px;}
.icedragonhelm {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -59px -30px;}
.icedragonmail {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -88px -30px;}
.icedragonscale {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -30px -30px;}
.icearrows {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -59px -118px;}
.icebolts {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -30px 0;}
.impatiens {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -59px 0;}
.invasionmeter {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -59px;}
.invisibilitypotion {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -30px -118px;}
.invisibilityremovalward {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -59px -30px;}
.ironaxe {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll 0 0;}
.ironbar {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -118px -88px;}
.ironbroadsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -59px 0;}
.ironbroadswordoffire {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -118px -118px;}
.ironbroadswordofice {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -59px -30px;}
.ironchainmail {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -30px -88px;}
.ironcuisses {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -118px 0;}
.irongreave {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll 0 -30px;}
.ironhelm {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -30px -59px;}
.ironore {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll 0 -118px;}
.ironplatemail {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -88px 0;}
.ironshield {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -88px -118px;}
.ironsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -30px 0;}
.ironswordoffire {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -88px -118px;}
.jaggedsaber {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -30px -30px;}
.lavendertunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -30px 0;}
.leather {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -59px -88px;}
.leatherboots {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -88px -88px;}
.leathergloves {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -30px -59px;}
.leatherhelm {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -30px -30px;}
.leatherpants {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -59px -59px;}
.leonardfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -88px 0;}
.leopardfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -88px 0;}
.lifeessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -59px -30px;}
.lightbluerobe {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -118px -118px;}
.lightbluerobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -118px -59px;}
.lightmeter {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -118px -59px;}
.lilacs {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -30px -59px;}
.loom {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll 0 -59px;}
.miremovalward {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -88px -30px;}
.magerobepants {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll 0 -118px;}
.magerobeshirt {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -30px -118px;}
.magicessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll 0 -59px;}
.magicpotion {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -59px -88px;}
.magicarrows {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll 0 -118px;}
.magicbolts {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -118px -118px;}
.makerarefailindicator {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -88px;}
.manaburnward {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -30px -30px;}
.manadrainward {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll 0 -30px;}
.matterconglomerate {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll 0 -30px;}
.matteressence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll 0 -30px;}
.mead {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll 0 -30px;}
.medallionmold {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -59px -118px;}
.medallionoflife {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -58px -118px;}
.medallionofmana {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -30px -118px;}
.mediummine {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -30px -118px;}
.mercury {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -30px -88px;}
.mixtureofpower {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -30px 0;}
.modableironbroadsword {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -88px 0;}
.modableironsword {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -59px 0;}
.modablesteellongsword {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -118px 0;}
.modablesteeltwoedgedsword {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll 0 -30px;}
.modabletitaniumsteelalloyshortsword {
  background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -30px -30px;
}
.moonmedallion {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -88px -30px;}
.mortarpestle {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -59px -59px;}
.mugwort {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -118px -30px;}
.muleglyph {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -118px -118px;}
.muleskin {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -30px -88px;}
.mullein {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll 0 -59px;}
.nail {background: transparent url(~/assets/i/items14.jpg) no-repeat scroll 0 -59px;}
.needle {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll 0 -30px;}
.nightvisor {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -59px 0;}
.nightshade {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -30px -59px;}
.nightshademulleindandelionextract {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -118px 0;}
.nomoretearscape {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -118px -30px;}
.ogretoes {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -88px -88px;}
.orangedye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -118px -88px;}
.orangefabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -88px -59px;}
.orcslayer {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -88px 0;}
.paddedleatherarmor {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll 0 -88px;}
.phantomwarriorsummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -30px -30px;}
.pkingarrows {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -118px -59px;}
.pkingbolts {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -88px -59px;}
.pointdefense {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll 0 -59px;}
.poisonantidote {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -88px -88px;}
.poisonivy {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -59px 0;}
.poisonivyhenbanepoppiesextract {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll 0 -30px;}
.poisonedcaltrop {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -59px -88px;}
.polarbearfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -59px 0;}
.polisheddiamond {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -30px -59px;}
.polishedemerald {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -59px -59px;}
.polishedruby {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -118px -59px;}
.polishedsapphire {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -88px -59px;}
.poppies {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -30px -30px;}
.potionofaccuracy {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -88px -30px;}
.potionofalchemy {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -118px -88px;}
.potionofattack {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -118px -59px;}
.potionofattackreduction {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -59px -59px;}
.potionofbodyrestoration {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll 0 -30px;}
.potionofcoldprotection {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -59px 0;}
.potionofcoordination {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -59px -59px;}
.potionofcrafting {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -88px -88px;}
.potionofdefense {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -88px -59px;}
.potionofdefensereduction {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -118px -88px;}
.potionofengineering {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll 0 0;}
.potionofevasion {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll 0 -30px;}
.potionofextramana {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll 0 -118px;}
.potionoffeasting {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -59px 0;}
.potionofgreathealing {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -118px -88px;}
.potionofharvesting {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -30px -59px;}
.potionofheatprotection {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px 0;}
.potionofmana {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll 0 -88px;}
.potionofmanufacturing {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -30px 0;}
.potionofminorhealing {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -30px -88px;}
.potionofphysique {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -59px -88px;}
.potionofpotion {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -59px -88px;}
.potionofradiationprotection {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -118px 0;}
.potionofreasoning {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -30px -30px;}
.potionofspeedhax {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -88px -30px;}
.potionofspiritrestoration {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll 0 0;}
.potionofsummoning {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -59px -30px;}
.potionofvitality {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -118px -88px;}
.potionofwildness {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll 0 -59px;}
.potionofwill {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -88px -88px;}
.pumafur {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -118px 0;}
.purpledye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -88px -118px;}
.purplefabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -59px -88px;}
.purplerobe {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -59px -118px;}
.purplerobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -59px -59px;}
.quartz {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -88px -59px;}
.quillandink {background: transparent url(~/assets/i/items14.jpg) no-repeat scroll -88px -30px;}
.rcmine {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -88px -118px;}
.rcminedetonator {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -118px -118px;}
.racoonfur {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -30px -118px;}
.racoonhat {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -59px -118px;}
.radioactiverapier {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll 0 -30px;}
.radioactivetitaniumlongsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -30px -30px;}
.rapier {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll 0 -30px;}
.rattail {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -118px -88px;}
.rawmeat {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll 0 -88px;}
.redcurrents {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll 0 0;}
.redcurrentsblueberriesrueextract {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -30px -30px;}
.reddragoncuisses {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll -59px -30px;}
.reddragongreave {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll -88px -30px;}
.reddragonhelm {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll 0 -30px;}
.reddragonmail {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll -30px -30px;}
.reddragonscale {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -118px -118px;}
.reddye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -88px -88px;}
.redfabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -59px -59px;}
.redrobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll 0 -30px;}
.redrobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll 0 -88px;}
.redrose {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -30px -30px;}
.redscarf {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -118px -88px;}
.redsnapdragons {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll 0 -59px;}
.redtunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -118px 0;}
.redtunicwhiteshirt {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -59px -30px;}
.refinedvegetalmixture {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -88px 0;}
.ringmold {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -30px -118px;}
.ringofanitora {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -59px -30px;}
.ringofbethel {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -118px -30px;}
.ringofdamage {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -59px -88px;}
.ringofdesertpines {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -30px -88px;}
.ringofdisengagement {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -88px -59px;}
.ringofegratia {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -88px -59px;}
.ringofemeraldvalley {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -88px -88px;}
.ringofglacmor {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -30px -118px;}
.ringofhulda {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -30px -88px;}
.ringofhurquin {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll 0 -118px;}
.ringofidaloran {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -88px -30px;}
.ringofimbroglioislands {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -118px -88px;}
.ringofirinveron {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll 0 -88px;}
.ringofiscarlith {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -118px -59px;}
.ringofislaprima {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll 0 -59px;}
.ringofisleoftheforgotten {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -59px -118px;}
.ringofkusamura {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -59px -59px;}
.ringofmanadestruction {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -88px 0;}
.ringofmassivemanadestruction {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -118px 0;}
.ringofmelinis {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -30px -88px;}
.ringofmorcravenmarsh {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -118px -59px;}
.ringofnaralik {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -30px -59px;}
.ringofpalonvertas {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -30px -59px;}
.ringofportland {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll 0 -88px;}
.ringofpower {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll 0 -30px;}
.ringofsedicolis {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll 0 -59px;}
.ringofsrm {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -118px -118px;}
.ringoftrassian {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -59px -88px;}
.ringofvalleyofthedwarves {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -59px -59px;}
.ringofwhitestone {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -118px -30px;}
.rope {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -118px -88px;}
.rosequartz {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll 0 -88px;}
.ruby {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -118px -118px;}
.rue {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -59px -59px;}
.saltpeter {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -30px -118px;}
.santahat {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -118px 0;}
.sapphire {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -88px -118px;}
.savingstone {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll 0 -88px;}
.scissors {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -59px 0;}
.seridiumbar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -30px -59px;}
.seridiumore {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll 0 -59px;}
.serpentstone {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -88px -59px;}
.silverbar {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll 0 -88px;}
.silvermedallion {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -88px -88px;}
.silverore {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -88px -88px;}
.silverring {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -88px -118px;}
.skullcrossbonesscarf {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -59px -88px;}
.skunkfur {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -88px -118px;}
.skunkhat {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -118px -118px;}
.smallmine {background: transparent url(~/assets/i/items20.jpg) no-repeat scroll 0 -118px;}
.snare {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -88px -88px;}
.snowleopardfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -118px 0;}
.spear {background: transparent url(~/assets/i/items18.jpg) no-repeat scroll -88px 0;}
.spiritessence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -118px 0;}
.squarevial {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -59px -118px;}
.sslessarsummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll 0 0;}
.starsmedallion {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -30px -30px;}
.steelaxe {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -30px 0;}
.steelbar {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -88px -88px;}
.steelchainmail {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -88px -59px;}
.steelcuisses {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -88px -30px;}
.steelgreave {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -118px -30px;}
.steelhelm {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll 0 -59px;}
.steellongsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -88px 0;}
.steellongswordoffire {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -88px -30px;}
.steellongswordofice {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -118px -30px;}
.steellongswordofmagic {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll 0 -59px;}
.steelplatemail {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -59px -30px;}
.steelshield {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -118px -118px;}
.steeltwoedgedsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -118px 0;}
.steeltwoedgedswordoffire {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -59px -59px;}
.steeltwoedgedswordofice {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -30px -59px;}
.steeltwoedgedswordofmagic {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -88px -59px;}
.steeltwoedgedswordofthermal {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -118px -59px;}
.sulfur {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -59px -88px;}
.sunmedallion {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll 0 -118px;}
.sunbreaker {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -59px 0;}
.sunflower {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll 0 0;}
.swampcandles {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -59px -59px;}
.thread {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -30px -30px;}
.tigerlilly {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -118px 0;}
.tigersummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -59px 0;}
.tinbar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -88px 0;}
.tinore {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -59px 0;}
.tigerfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll 0 -30px;}
.titaniumaxe {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -59px 0;}
.titaniumbar {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -59px -88px;}
.titaniumchainmail {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -118px -59px;}
.titaniumcuisses {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -88px -59px;}
.titaniumgreave {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -118px -59px;}
.titaniumhelm {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll 0 -88px;}
.titaniumore {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll 0 -118px;}
.titaniumplatemail {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -59px -59px;}
.titaniumserpentsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -59px -30px;}
.titaniumshield {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll -30px -59px;}
.titaniumsteelalloylongsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -30px -30px;}
.titaniumsteelalloyshortsword {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll 0 -30px;}
.titaniumsteelalloyshortswordoffire {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll 0 -88px;}
.titaniumsteelalloyshortswordofice {background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -30px -88px;}
.titaniumsteelalloyshortswordofmagic {
  background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -59px -88px;
}
.titaniumsteelalloyshortswordofthermal {
  background: transparent url(~/assets/i/items8.jpg) no-repeat scroll -88px -88px;
}
.toadstool {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -30px -88px;}
.treemushroom {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -118px -88px;}
.truesightpotion {background: transparent url(~/assets/i/items7.jpg) no-repeat scroll -118px 0;}
.tulips {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -59px -30px;}
.tunicoftheninja {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -88px 0;}
.turqoise {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -88px -88px;}
.unicornmedallion {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -118px -88px;}
.universalhood {background: transparent url(~/assets/i/items24.jpg) no-repeat scroll -59px -30px;}
.valerian {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -88px -59px;}
.vegetables {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -59px 0;}
.vialmold {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -88px -30px;}
.warlockscloak {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll -30px 0;}
.warmfurgloves {background: transparent url(~/assets/i/items4.jpg) no-repeat scroll -59px -30px;}
.wateressence {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -30px 0;}
.wheat {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll 0 -118px;}
.wheatdaffodilsferanhornextract {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -118px -30px;}
.wheatvalerianmugwortextract {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -88px -30px;}
.whiteasiaticlilly {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll -88px -30px;}
.whitechanterelle {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -59px -88px;}
.whitechanterelleogretoestreemushroomextract {
  background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -59px -30px;
}
.whitefabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll 0 -59px;}
.whiterabbitfur {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -59px -118px;}
.whiteredstripedbaggypants {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -59px -88px;}
.whiterobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll 0 0;}
.whiterobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll 0 -59px;}
.whitetigerfur {background: transparent url(~/assets/i/items11.jpg) no-repeat scroll -30px -30px;}
.whitetunic {background: transparent url(~/assets/i/items21.jpg) no-repeat scroll -30px -30px;}
.wine {background: transparent url(~/assets/i/items1.jpg) no-repeat scroll -30px -30px;}
.wolffur {background: transparent url(~/assets/i/items3.jpg) no-repeat scroll -88px -88px;}
.wolframbar {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll -30px -30px;}
.wolframite {background: transparent url(~/assets/i/items12.jpg) no-repeat scroll 0 -30px;}
.woodbranches {background: transparent url(~/assets/i/items6.jpg) no-repeat scroll 0 -88px;}
.woodhandle {background: transparent url(~/assets/i/items10.jpg) no-repeat scroll -30px -59px;}
.woodenstaff {background: transparent url(~/assets/i/items5.jpg) no-repeat scroll -30px -59px;}
.woodlogs {background: transparent url(~/assets/i/items9.jpg) no-repeat scroll -118px -59px;}
.wormwood {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll 0 -88px;}
.yarrow {background: transparent url(~/assets/i/items13.jpg) no-repeat scroll -118px -59px;}
.yarrowwormwoodtulipsextract {background: transparent url(~/assets/i/items19.jpg) no-repeat scroll -88px 0;}
.yellowdye {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll 0 -118px;}
.yellowfabric {background: transparent url(~/assets/i/items23.jpg) no-repeat scroll -118px -59px;}
.yellowrobe {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -30px -30px;}
.yellowrobeskirt {background: transparent url(~/assets/i/items22.jpg) no-repeat scroll -30px -88px;}
.yellowrose {background: transparent url(~/assets/i/items2.jpg) no-repeat scroll 0 -30px;}
.yetisummoningstone {background: transparent url(~/assets/i/items16.jpg) no-repeat scroll -88px 0;}
.yew {background: transparent url(~/assets/i/items25.jpg) no-repeat scroll -88px 0;}
.attackpredictor,
.defensepredictor,
.tohitpredictor,
.todamagepredictor,
.accuracypredictor,
.magicpredictor,
.harvestpredictor,
.degradepredictor,
.makerarepredictor,
.failurepredictor {
  background: transparent url(~/assets/i/items20.jpg) no-repeat scroll -118px -88px;
}
.blackwizardhat {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -59px -88px;}
.whitewizardhat {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -88px -88px;}
.graywizardhat {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -30px -88px;}
.blackboots {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -88px -59px;}
.whiteboots {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll 0 -88px;}
.brownboots {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -118px -59px;}
.bluegreenvest {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll 0 0;}
.redvest {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -30px 0;}
.blackvest {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -59px 0;}
.brownvest {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -88px 0;}
.bluedragonscale {background: transparent url(~/assets/i/items27.jpg) no-repeat scroll 0 -118px;}
.bluedragongreave {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -59px -118px;}
.bluedragonsword {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -118px -118px;}
.bluedragoncuisses {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -30px -118px;}
.bluedragonshield {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -88px -118px;}
.bluedragonmail {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll 0 -118px;}
.bluedragonhelm {background: transparent url(~/assets/i/items26.jpg) no-repeat scroll -118px -88px;}
.treasurefinder {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -59px -30px;}
.pearfinder {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -30px -30px;}
.potionofactionpoints {background: transparent url(~/assets/i/items15.jpg) no-repeat scroll 0 -118px;}
.orange {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -88px 0;}
.grapes {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll -118px 0;}
.pear {background: transparent url(~/assets/i/items17.jpg) no-repeat scroll 0 0;}
</style>
