<template>
  <v-app>
    <v-app-bar app>
      <router-link to="/" class="header-link">
        <v-toolbar-title v-text="title" />
      </router-link>
      <v-toolbar-title v-if="skill">
        &nbsp;&nbsp;&#187;&nbsp;&nbsp;
        <router-link :to="`/skill/${skill}`" class="header-link">
          {{skill}}
        </router-link>
      </v-toolbar-title>
      <div class="spacer"></div>
      <div class="justify-end d-none d-sm-flex">
        <v-autocomplete
          v-model="searchValue"
          :items="items"
          class="mx-2 mx-md-8"
          style="max-width: 500px;"
          flat
          hide-details
          dense
          filled
          rounded
          solo
        ></v-autocomplete>
      </div>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

import { Item, Skill } from '~/src/types';

interface Data {
  title: string;
  searchValue: string;
}

interface Computed {
  skill?: string;
  items: string[];
}

export default Vue.extend<Data, unknown, Computed, unknown>({
  data () {
    return {
      title: 'EL Manufacturable items',
      searchValue: '',
    };
  },
  computed: {
    items() {
      return this.$store.getters['items/getItems'].map((item: Item) => item.name).sort();
    },
    skill() {
      if (this.$route.name === 'skill-id') {
        if (Object.values(Skill).includes(this.$route.params.id as Skill)) {
          return this.$route.params.id;
        }
      }
      if (this.$route.name === 'item-id') {
        const item = this.$store.getters['items/getItemBySlug'](this.$route.params.id);
        if (item && item.xp) {
          return Object.keys(item.xp)[0];
        }
      }
      return '';
    },
  },
  watch: {
    searchValue() {
      if (this.items.includes(this.searchValue)) {
        const item: Item = this.$store.getters['items/getItemByName'](this.searchValue);
        this.$router.push({
          path: `/item/${item.slug}`,
        });
      }
    },
  },
});
</script>

<style scoped>
.header-link {
  text-decoration: none;
  color: #424242;
}
</style>
