<template>
  <div>
    <div v-for="skill in skills" :key="skill"><nuxt-link :to="`/skill/${skill}`">{{ skill }}</nuxt-link></div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Skill } from '~/src/types';

interface Data {
  skills: Record<string, string>,
}
export default Vue.extend<Data, unknown, unknown, unknown>({
  data: () => ({
    skills: Skill as Record<string, string>,
  }),
});
</script>
